@*@model IEnumerable<QBOApiCallDemo.Models.InvoiceModel.Root>*@
@*@model IEnumerable<QBOApiCallDemo.Models.InvoiceModel.Root>*@
@model dynamic

@*@model string*@
@*
@Model.Content*@


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="sb-nav-fixed">


    <div id="body-pd">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class=" p-5">
                                <div class="col-md-6">
                                    <img src="~/images/convergesol-final-logo.png">
                                </div>

                                <div class="col-md-12 text-right">
                                    @*<p class="font-weight-bold mb-1">Invoice #550</p>*@
                                    <p class="text-muted">Today Date: @DateTime.Today.ToString("dd/MM/yyyy")</p>
                                </div>
                            </div>
                            @{
                                int SubTotal = 0;
                                int GrandTotal = 0;



                                var BillAddress = Model.QueryResponse.Invoice[Model.rowcount].BillAddr;
                                var BillLine1 = BillAddress?.Line1 ?? "";
                                var BillLine2 = BillAddress?.Line2 ?? "";
                                var BillLine3 = BillAddress?.Line3 ?? "";
                                var BillLine4 = BillAddress?.Line4 ?? "";

                                var ShipAddress = Model.QueryResponse.Invoice[Model.rowcount].ShipAddr;
                                var ShipLine1 = ShipAddress?.Line1 ?? "";
                                var ShipCity = ShipAddress?.City ?? "";
                                var ShipCountrySubDivisionCode = ShipAddress?.CountrySubDivisionCode ?? "";
                                var ShipPostalCode = ShipAddress?.PostalCode ?? "";
                                            <hr class="my-5">
                                            <div class="col-md-12 text-right">
                                            </div>
                                            <div class="row pb-5 p-5">
                                                <div class="col-md-6">
                                                    <p class="font-weight-bold mb-4">Client Information</p>
                                                    <p class="mb-1">@Model.QueryResponse.Invoice[Model.rowcount].CustomerRef.name</p>

                                                    <p class="font-weight-bold mb-4">Billing Address</p>
                                                    <p class="mb-1"> @BillLine1,  @BillLine2, @BillLine3, @BillLine4</p>


                                                </div>

                                                <div class="col-md-6 text-right">

                                                    <p class="font-weight-bold mb-4">Shipping Address</p>
                                                    <p class="mb-1">@ShipLine1, @ShipCity, @ShipCountrySubDivisionCode, @ShipPostalCode</p>

                                    

                                                </div>
                                        <div class="col-md-12 text-right" id="pdfgenerate">
                                            <button onclick="generatePDF()" class="bg-info mb-4">Generate PDF</button>
                                        </div>
                                            </div>
                            }
                           
                                <div class=" row p-5">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="border-0 text-uppercase small font-weight-bold">Id</th>
                                                    <th class="border-0 text-uppercase small font-weight-bold">DESCRIPTION</th>
                                                    <th class="border-0 text-uppercase small font-weight-bold">QTY</th>
                                                    <th class="border-0 text-uppercase small font-weight-bold">UNIT PRICE</th>
                                                    <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                                                    <th class="border-0 text-uppercase small font-weight-bold">Due Date</th>
                                                    <th class="border-0 text-uppercase small font-weight-bold">Remaining days</th>
                                                </tr>

                                            </thead>
                                            @if (Model != null)
                                            {
                                                <tbody>
                                                 
                                                        @for (int j = 0; j < Model.QueryResponse.Invoice[Model.rowcount].Line.Count; j++)
                                                    {
                                                        var line = Model.QueryResponse.Invoice[Model.rowcount].Line[j];
                                                        var unitPrice = line.SalesItemLineDetail?.UnitPrice ?? 0.0;
                                                        var Qty = line.SalesItemLineDetail?.Qty ?? 0.0;
                                                        <tr>
                                                            <td>@j</td>
                                                            <td>@line.Description</td>
                                                            <td>@Qty</td>
                                                            <td>@unitPrice</td>
                                                            <td>@line.Amount</td>
                                                            <td>@Model.QueryResponse.Invoice[Model.rowcount].DueDate</td>
                                                            @{
                                                                SubTotal += @unitPrice;
                                                                GrandTotal += @line.Amount;
                                                                DateTime targetDate = DateTime.Parse(Model.QueryResponse.Invoice[Model.rowcount].DueDate);
                                                                DateTime today = DateTime.Today;
                                                                int remainingDays = (targetDate - today).Days;
                                                            }
                                                            @{
                                                                if (@remainingDays > 0)
                                                                {
                                                                                <td>
                                                                                    @remainingDays Remaining
                                                                                </td>
                                                                }
                                                                else if (@remainingDays == 0)
                                                                {
                                                                                <td>
                                                                                    Last Day
                                                                                </td>
                                                                }
                                                                else
                                                                {
                                                                                <td>
                                                                                    @Math.Abs(@remainingDays) Past due
                                                                                </td>
                                                                }
                                                            }
                                                        </tr>

                                                    }
                                                   

                                                </tbody>

                                            }
                                            else
                                            {

                                                <tbody>
                                                    <tr>
                                                        <td colspan="6">No records found.</td>
                                                    </tr>
                                                </tbody>
                                            }
                                        </table>

                                    </div>
                                </div>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

